<div id="<%= dom_id student %>">

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #e2e2e2;
  }
</style>

<table>
  <tr>
    <th>Name</th>
    <th>Cpf</th>
    <th>Birthdate</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>Payment method</th>
  </tr>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.cpf %></td>
    <td><%= student.birthdate.strftime("%d/%m/%Y") %></td>
    <td><%= student.phone %></td>
    <td><%= student.gender %></td>
    <td><%= student.payment_method %></td>
  </tr>
</table>
<div>