<!DOCTYPE html>
<html>

<head>
  <title>Billinho</title>
  <style>
  
    .pagina{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        line-height: 35px;
        border: 1px solid;
        border-radius: 20px;
        padding: 30px;
        margin: 150px;
        margin-left: 300px;
        margin-right: 300px;
        background-color: #edf2ff;
    }

    .button{
        border: 1px solid;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 15px;
        background-color: #304ffe;
        color: #304ffe;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .button a {
        color: #fff;
        text-decoration: none;
      }
  
    .registros {
        display: flex;
        flex-direction: row;
        itens-align: center;
        justify-content: center;
        color: #fff;
    }

    
    .visualizar-lista{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .registros article,
    .visualizar-lista article {
        font-size: 20px;
    }

  </style>
</head>


<body class="pagina">
  <header>
    <h1>Bem vindo ao Billinho!</h1>
    <h2>Escolha uma das opções abaixo:</h2>
  </header>

  <main class="registros">
    <article class="button">
      <p><%= link_to "Cadastrar uma universidade", new_institution_path %></p>
    </article>

    <article class="button">
      <p><%= link_to "Cadastrar um aluno", new_student_path %></p>
    </article>

    <article class="button">
      <p><%= link_to "Se você ja é um aluno, você pode se matricular aqui", new_enrollment_path %></p>
    </article>
  </main>

  <main class="visualizar-lista">
    <article class="button">
      <p><%= link_to "Ver todas as faculdades", institutions_path %></p>
    </article>

    <article class="button">
      <p><%= link_to "Ver todos os estudantes", students_path %></p>
    </article>

    <article class="button">
      <p><%= link_to "Ver todas as matriculas", enrollments_path %></p>
    </article>

    <article class="button">
      <p><%= link_to "Ver todas as mensalidades", bills_path %></p>
    </article>
  </main>

</body>
</html>
