<div id="<%= dom_id bill %>">
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    background-color: #ffffff;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #e2e2e2;
  }
</style>

<table>
  <tr>
    <th>Value</th>
    <th>Due date</th>
    <th>Enrollment</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= number_to_currency(bill.value, unit: 'R$') %></td>
    <td><%= bill.due_date.to_date.strftime("%d/%m/%Y")  %></td>
    <td><%= bill.enrollment_id %></td>
    <td><%= bill.status %></td>
  </tr>
</table>
</div>
