
<!DOCTYPE html>
<html>
<head>
  <style>

  .formulario-completo{
    width: 400px;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #edf2ff;
    margin-left: 700px;
    margin-top: 50px;
  }


  .titulo{
    margin: 20px 0;
    font-size: 18px;
}

  .campo-input {
    border-radius: 10px;
    padding: 6px;
    border:2px solid #ccc;
    margin-bottom: 8px;
}

  .botao-submit{
    background-color: #304ffe;
    color: white;
    padding: 10px 12px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
   }

  </style>
</head>

<body class="formulario-completo">
<div> 
<%= form_with(model: enrollment) do |form| %>
  <% if enrollment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="titulo">
    <%= form.label :institution_id, style: "display: block" %>
    <%= form.text_field :institution_id, class: "campo-input"  %>
  </div>

  <div class="titulo">
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id, class: "campo-input"  %>
  </div>

  <div class="titulo">
    <%= form.label :course, style: "display: block" %>
    <%= form.text_field :course, class: "campo-input"  %>
  </div>

  <div class="titulo">
    <%= form.label :quantity_bills, style: "display: block" %>
    <%= form.number_field :quantity_bills, class: "campo-input"  %>
  </div>

  <div class="titulo">
    <%= form.label :due_day, style: "display: block" %>
    <%= form.number_field :due_day, class: "campo-input"  %>
  </div>

  <div class="titulo">
    <%= form.label :course_value, style: "display: block" %>
    <%= form.text_field :course_value, class: "campo-input"  %>
  </div>

  <b class="texto-confirmacao">Antes de seguir, confira se as informações estão corretas, se sim, clique em "Criar".</b>
  <div>
    <%= form.submit class: "botao-submit" %>
  </div>
<% end %>
